@font-face {
    font-family: "Horizon";
    src: url("assets/fonts/Horizon_Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

.fontload{
  visibility:hidden;
  position: absolute;
  left: -9999px;
}